.swiper-slide {
    height: 500px; /* Adjust the height as needed */
    /* Your existing styles */
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}